@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5em; 
    font-weight: 700;
}

h2{
    font-size: 1.8em; 
    font-weight: 600;
}

h3{
    font-size: 1.5em; 
    font-weight: 800;
}

h4{
    font-size: 1.2em; 
    font-weight: 600;
}

h5{
    font-size: 1em; 
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}

header{
    font-family: 'Poppins', sans-serif !important;
}
.contact-info{
	font-size: 12px;
}
.brand-title{
	font-weight: 500;
	color: coral !important;
	cursor: pointer;
}
.nav-links{
	font-size: 19px;
	font-weight: 350;
	color: black !important;
}
.nav-links:hover{
	color: coral !important;
}
.nav-items{
	margin-right: 40px;
	padding: 5px;
}
.nav-icon{
	margin-right: 15px;
}
.cart{
	top: 1rem;
	right: 2.5rem;
	padding: 0px 6px;
	font-size:small ;
	background: white;
}
.user{
	top: 1rem;
	right: 0.1rem;
	padding: 0px 6px;
	font-size: small;
}

.home{
    /* background-image: url() ; */
    background-size: cover;
    background-color: coral;
    width: 100%;
    height: 100vh;
    background-position-x:90px ;
    background-position-y:80px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}

.home span{
    color:white;
}

.home button{
    background-color: black;
    color:white;
    border: none;
    padding: 10px 20px 10px 20px;
}
.home p {
    width:40%;
}

#new .one img{
    width:100%;
    height:80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new .one{
    position: relative;
}
 #new .one .details{
     /* display:none; */
        position:absolute;
        top:0;
        left:0;
        color:burlywood;
        font-weight: bold;
        transition: 0.4s ease ;
        background-color: black;
        width: 100%;
        height:80%; 
        display: flex;
        opacity: 0;
        justify-content: center;
        flex-direction: column;
        text-align:center;
        padding:40px;
        
}

#new .one .details button{

    border: none;
    font-size:15px;
}
#new .one .details:hover {
    opacity: 1;
    pointer-events: auto; 
  }

#mainBox{
    display: flex;
    margin: 100px;
}
#mainBox .box{
    /* margin:10px;  */
    padding:10px;
    border-right: 2px solid grey;
}

#mainBox :nth-child(3){
    border:none;
}

#mainBox .box h3, #mainBox .box p{
  text-align: center;
}

/*Footer*/

.footer{
	line-height: 1.2;
}

.footer.container{
	max-width: 1170px;
    margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    height: auto;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0px 10px 1px;
   text-align: start;
   margin-left: 85px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    left: 10%;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: coral;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li :not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff; 
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    
}
.footer-col ul li p:hover{
	color: #ffffff;
	padding-left: 8px;
    cursor: pointer;
}

.footer-bottom{
    background-color: #24262b;
    width: 100%;
    margin: auto;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}
.content p{
    margin: 0!important;
}
.content img{
    padding-left: 170px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.small-img-group{
    display: flex;
    justify-content: space-between ;
}



.small-image-col{
    flex-basis: 25%;  
    margin-left: 10px;
    cursor: pointer;
}
.small-image-col:nth-child(1){
    margin:0;
}

.single-product input:focus{
    outline:none;
}

.buy-btn {
    padding:5px;
    border:2px solid coral;
    background-color: coral;
    color:white;
    border-radius:2px;
}

.buy-btn:hover{
    
    background-color: rgb(253, 253, 253);
    transition:0.5s;
    color:coral;
}
.radioForm img{
    width: 100px;
    /* aspect-ratio:3/2;
    object-fit: contain; */
    cursor: pointer;
}
.boxx {
    width: auto;
}
/* .radio{
    display: flex;
} */

.base img{
   aspect-ratio: '1:1';
   /* object-fit: contain; */
}

.buttonContainer{
    margin: 20px;
    display: flex;
    justify-content:center;
    
}

.buttonContainer input{
   margin: 10px;
}
/* .buttonContainer input{
    width:100000px;
} */

.mainUpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 2px dashed #aaa;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    /* width:; */
  }

  .upload-container label{
    cursor: pointer;
  }
  .upload-container:hover {
    background-color: #f9f9f9;
  }

  .upload-container label {
    color: #555;
    font-size: 18px;
  }

  .upload-container input[type="file"] {
    display: none;
  }

  .uploaded-image-container {
    display: none;
    margin-top: 20px;
  }

  .uploaded-image {
    max-width: 100%;
    max-height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }




